<div class="container">
    <!--Search box-->
    <div class="seach-container">
      <mat-form-field appearance="fill">
        <input matInput placeholder="search" (keyup)="filterData($event)">
      </mat-form-field>
    </div>
  <!--Dropdown Filter-->
    <mat-form-field appearance="fill">
      <mat-select (selectionChange)="onChange($event)">
        <mat-option value="closed">Closed</mat-option>
        <mat-option value="open">Open</mat-option>
      </mat-select>
    </mat-form-field>
  
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 MyTable">
      <ng-container matColumnDef="total_count">
        <th mat-header-cell *matHeaderCellDef> Total Count </th>
        <td mat-cell *matCellDef="let element"> {{element.total_count}} </td>
      </ng-container>
  
      <ng-container matColumnDef="node_id">
        <th mat-header-cell *matHeaderCellDef>id </th>
        <td mat-cell *matCellDef="let element"> {{element.node_id}} </td>
      </ng-container>
  
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
  
    
      <ng-container matColumnDef="full_name">
        <th mat-header-cell *matHeaderCellDef> Full Name </th>
        <td mat-cell *matCellDef="let element"> {{element.full_name}} </td>
      </ng-container>
  
     
      <ng-container matColumnDef="private">
        <th mat-header-cell *matHeaderCellDef> private </th>
        <td [routerLink]="['/viewsingle/',element.id]" mat-cell *matCellDef="let element"> {{element.private}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row  *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
  
  
  </div>